body{
    background-color: lightblue;
}

.login_div1,.login_div2{
background-color: white;
float: none;
border-radius: 15px;
padding: 10px;
}

#user_name1,#user_name2{
    display:inline-block;
    margin-left: 20px;
    width: 300px;
}
#output{
    border-radius: 10px;
    background-color: white;
    border-top: 7px solid rgb(66, 5, 107);
    text-align: center;
     width: 400px;

}